@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/montserrat-v14-latin-500.eot");
    /* IE9 Compat Modes */
    src: local("Montserrat Medium"), local("Montserrat-Medium"), url("../fonts/montserrat-v14-latin-500.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/montserrat-v14-latin-500.woff2") format("woff2"), /* Super Modern Browsers */
    url("../fonts/montserrat-v14-latin-500.woff") format("woff"), /* Modern Browsers */
    url("../fonts/montserrat-v14-latin-500.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/montserrat-v14-latin-500.svg#Montserrat") format("svg");
    /* Legacy iOS */
}


/* montserrat-700 - latin */

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/montserrat-v14-latin-700.eot");
    /* IE9 Compat Modes */
    src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../fonts/montserrat-v14-latin-700.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/montserrat-v14-latin-700.woff2") format("woff2"), /* Super Modern Browsers */
    url("../fonts/montserrat-v14-latin-700.woff") format("woff"), /* Modern Browsers */
    url("../fonts/montserrat-v14-latin-700.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/montserrat-v14-latin-700.svg#Montserrat") format("svg");
    /* Legacy iOS */
}

body {
    font-family: "Montserrat";
    font-weight: 500;
}

.splash {
    position: absolute;
    width: 100%;
    background: #212121;
    height: 100%;
    z-index: 1000;
    left: 0;
    top: 0;
}

.spl-cntnt {
    text-align: center;
}

.spl-hdng {
    color: #FFF;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    margin-top: 65px;
    position: relative;
}

.spl-hdng::after {
    position: absolute;
    content: '';
    width: 200px;
    height: 1px;
    background: #3e3e3e;
    left: 50%;
    margin-left: -100px;
    bottom: -10px;
}

.spl-footer {
    position: fixed;
    bottom: 10px;
    left: 0;
    color: #4c4c4c;
    width: 100%;
    text-align: center;
    font-size: 12px;
}

.login-bg {
    background: url('../images/login-right-bg.png') right center no-repeat;
    background-size: contain;
}

.login-logo {}

.login-form-main {
    margin-top: 50px;
}

.login-form-main h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 28px;
}

.login-form-main p {
    font-size: 14px;
}

.login-form-h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 28px;
}

.log-p-line {
    position: relative;
    width: 200px;
    height: 1px;
    background: #262022;
    display: block;
}

.log-p-line::after {
    position: absolute;
    content: '';
    width: 80px;
    height: 3px;
    background: #95aa12;
    left: 50%;
    margin-left: -40px;
    top: -1px;
}

.login-form {
    margin-top: 30px;
    max-width: 80%;
}

.log-lbl {
    font-size: 14px;
}

.login-input {
    width: 100%;
    padding: 8px 18px;
    margin-bottom: 20px;
    border: 1px solid #d6d6d6;
    font-size: 14px;
}

.login-input:focus {
    outline: none;
}

.login-btn i {
    margin-right: 7px;
}

.login-btn {
    background: #95aa12;
    padding: 7px 17px;
    color: #FFF;
    border-radius: 7px;
    margin-top: 10px;
    display: inline-block;
    border: none;
}

.login-btn:hover {
    color: #FFF;
    text-decoration: none;
}

.login-btn:focus {
    outline: none;
}

.login-btn-cncl {
    background: #e0c41b;
    color: #000;
}

.login-btn-cncl:hover {
    color: #000;
}

.frgt-pswd {
    float: right;
    font-size: 14px;
    color: #000;
    margin-top: 20px;
    text-decoration: underline;
}

.frgt-pswd:hover {
    color: #000;
}

.log-cmpny-adrs {
    font-size: 19px;
    font-weight: 700;
    text-align: right;
    position: relative;
    z-index: 2;
}

.log-rgt-txt {
    transform: rotate(-90deg);
    color: #e7e7e7;
    font-size: 100px;
    font-weight: 700;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -26px;
    left: -40px;
    z-index: 1;
}

.log-rgt-img {
    position: relative;
    z-index: 2;
    text-align: center;
    margin-top: 50px;
}

.log-cmpny-adrs-mob {
    display: none;
    font-size: 15px;
    font-weight: 700;
    margin-top: 10px;
}

@media(max-width:1199px) {
    .log-rgt-txt {
        font-size: 80px;
        left: -25px;
    }
}

@media(max-width:991px) {
    .log-rgt-txt {
        font-size: 70px;
        left: -15px;
        top: 12px;
    }
}

@media(max-width:767px) {
    .log-rgt-mob {
        display: none;
    }
    .login-form {
        max-width: 100%;
    }
    .log-cmpny-adrs-mob {
        display: block;
    }
    .login-form-main {
        margin-top: 30px;
    }
}

.cust-bg {
    background: #EDF2F8
}

.content-area {
    padding-top: 30px;
    padding-bottom: 30px;
}

.container-custom {
    width: 92%;
    margin-left: auto;
    margin-right: auto;
}

.dshbrd-box {
    height: 100%;
    border-radius: 9px;
    padding: 20px;
}

.b1 {
    background: #95AA12;
}

.b2 {
    background: #BDD529;
}

.b3 {
    background: #e0c525;
}

.b4 {
    background: #F1DC5D;
}

.db-icon {
    width: 61px;
    height: 59px;
    border-radius: 9px;
    padding: 10px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.db-i1 {
    background: #6B7C05;
}

.db-i2 {
    background: #98AA29;
}

.db-i3 {
    background: #C2AE33;
}

.db-box-lnk1 {
    font-size: 12px;
    color: #5B6904;
}

.db-box-lnk1:hover {
    color: #5B6904;
    text-decoration: none;
}

.db-box-lnk1 i {
    font-size: 26px;
    color: #5B6904;
    font-weight: 700;
}

.db-box-rgt {
    width: 100%;
    padding-left: 10px;
}

.db-box-rgt h2 {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    color: #5B6904;
    margin-bottom: 0;
}

.db-count {
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
}

@media(max-width:1100px) {
    .db-box-rgt h2 {
        font-size: 10px;
    }
}

.db-tables {
    padding-top: 20px;
}

.db-tble-box {
    background: #FFFFFF;
    box-shadow: 0px 0px 5px #0000001C;
    border-radius: 6px;
    padding: 20px;
    height: 100%;
}

.table-hdng {
    padding-bottom: 10px;
}

.table-hdng h2 {
    font-size: 14px;
    font-weight: 700;
}

.cmn-btn {
    color: #FFF;
    padding: 9px 10px;
    background: #95A912;
    border-radius: 4px;
    border: none;
    text-transform: uppercase;
    font-size: 11px;
}

.cmn-btn:hover {
    color: #FFF;
    text-decoration: none;
}

.cmn-btn:focus {
    outline: none;
}

.cust-tbl {
    border: 1px solid #d5d5d5;
}

.cust-tbl thead th {
    vertical-align: bottom;
    border-bottom: none;
    background: #d5d5d5;
    font-size: 12px;
}

.cust-tbl tr td {
    font-size: 12px;
}

.cust-tbl tr th,
.cust-tbl tr td {
    padding: 10px;
    vertical-align: middle;
}

.cust-tbl1 {
    border: 1px solid #d5d5d5;
}

.cust-tbl1 thead th {
    vertical-align: bottom;
    border-bottom: none;
    background: #d5d5d5;
    font-size: 12px;
}

.cust-tbl1 tr td {
    font-size: 12px;
    border-left: 1px solid #d5d5d5;
}

.cust-tbl1 tr td:first-child {
    border-left: none;
}

.cust-tbl1 tr th,
.cust-tbl1 tr td {
    padding: 10px;
    vertical-align: middle;
}

.logo {
    padding-top: 9px;
    padding-bottom: 10px;
}

.logo-txt {
    color: #000;
    font-size: 13px;
    padding-left: 20px;
    display: inline-block;
    vertical-align: middle;
}

.logo-img {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.logo-img::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 35px;
    background: #afafaf;
    right: -13px;
    top: 5px;
}

.usr-profile {
    position: relative;
}

.hdr-select {
    font-size: 10px;
    padding: 6px;
    border-radius: 4px;
    border-color: #95aa12;
    margin-right: 10px;
}

.alrt {
    position: relative;
    font-size: 23px;
    margin-top: 6px;
    cursor: pointer;
    margin-right: 16px;
}

.alrt-cnt {
    position: absolute;
    left: 11px;
    font-size: 10px;
    background: #95aa12;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: #FFF;
    text-align: center;
    padding-top: 3px;
    top: -2px;
    font-weight: 700;
}

.prof-pic {
    width: 38px;
    height: 38px;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.usr-name {
    font-size: 13px;
    display: block;
}

.usr-posi {
    font-size: 11px;
    color: #7E7E7E;
    display: block;
}

.lgt-btn:focus {
    outline: none;
    box-shadow: none!important;
}

.log-out-mnu {
    box-shadow: 0px 0px 5px #0000001C;
    max-width: 169px;
    border: 0;
    padding: 0;
    top: 7px!important;
    left: -62px!important;
}

.log-out-mnu a {
    font-size: 12px;
    padding: 10px 15px;
    display: block;
    color: #000;
    border-bottom: 1px solid #CCC;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.log-out-mnu a:hover {
    text-decoration: none;
    color: #000;
    background: #f3f3f3;
}

.log-out-mnu a:last-child {
    border-bottom: 2px solid #95A912;
}

.log-out:focus {
    outline: none;
}

.footer {
    background: #3A3A3A;
    font-size: 12px;
    color: #6E6E6E;
    padding: 12px;
}

.header-main {
    position: relative;
}

.hdr-menu {
    background: #3A3A3A;
    position: relative;
    z-index: 2;
}

.cust-nav {
    background: #3A3A3A!important;
    padding: 0;
}

.cust-nav .nav-link {
    color: #FFF!important;
    font-size: 13px;
    transition: .5s;
    padding: 14px 30px!important;
}

.cust-nav .nav-link:hover {
    background: #C8D866;
    color: #000!important;
}

.cust-nav .nav-link.active {
    background: #C8D866;
    color: #000!important;
}

.cust-nav .nav-link.active {
    background: red;
    color: #000!important;
}

.drp-cust {
    padding: 0;
    margin-top: 0;
}

.drp-cust a {
    padding: 10px 20px;
    font-size: 13px;
    border-bottom: 1px solid #CCC
}

.drp-cust a:last-child {
    border-bottom: 2px solid #95A912;
}

.drp-cust .dropdown-item:hover,
.drp-cust .dropdown-item:focus {
    background-color: #eaeaea;
    color: #000;
}

.srch-btn-cust {
    border: 0;
    color: #F1DC5D;
    margin-right: 10px;
}

.srch-btn-cust:hover {
    background: none;
    color: #F1DC5D!important;
}

.srch-btn-cust:focus {
    background: none!important;
    border: none!important;
    color: #F1DC5D!important;
    outline: none!important;
    box-shadow: none!important;
}

.srch-cust {
    background: #6b6969;
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
    transition: bottom 0.3s;
}

.srch-cust.active {
    bottom: -43px;
}

.srch-inpt-cust-main {
    max-width: 600px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.cst-btn-srch {
    position: absolute;
    top: 1px;
    right: 1px;
    padding: 2px 8px;
    border: 0;
    background: #FFF;
    line-height: 27px;
    border-left: 1px solid #CCC;
}

.srch-inpt-cust {
    margin-left: auto;
    border: none;
    font-size: 13px;
    padding-right: 40px;
}

.srch-inpt-cust:focus,
.cst-btn-srch:focus {
    outline: none!important;
    box-shadow: none!important;
}

.save-btn-cust {
    background-color: #95aa12;
    border: 1px solid #95aa12;
}

.save-btn-cust:hover {
    background-color: #95aa12!important;
    box-shadow: none!important;
    border: 1px solid #95aa12!important;
}

.save-btn-cust:focus {
    background-color: #95aa12!important;
    box-shadow: none!important;
    border: 1px solid #95aa12!important;
}

.cncl-btn,
.rst-btn {
    background: #6c6e71;
}

.srch-same-line {
    padding-top: 36px;
}

.tble-ttle {
    border-bottom: 1px solid #f3f3f3;
    margin-bottom: 17px;
}

.edit-btn,
.dlte-btn,
.view-btn {
    color: #FFF;
    font-size: 17px;
    padding: 0px 4px;
}

.edit-btn:hover,
.dlte-btn:hover,
.view-btn:hover {
    color: #FFF;
}

.edit-btn:focus,
.dlte-btn:focus,
.view-btn:focus {
    color: #FFF!important;
    outline: none;
    box-shadow: none!important;
}

.pgntn-cust {
    float: right;
}

.page-item .page-link {
    color: #111;
    font-size: 12px;
}

.page-item .page-link:focus {
    box-shadow: none!important;
    z-index: 0;
}

.page-item.active .page-link {
    background-color: #3f4d67;
    border-color: #3f4d67;
}

.show-entrs,
.show-entries {
    font-size: 12px;
}

.form-label {
    font-size: 12px;
}

.save-cncl-main {
    border-top: 1px solid #f3f3f3;
    padding-top: 20px;
    text-align: center;
    margin-top: 22px;
}

.ad-btn {
    float: right;
}

.selct-cust {
    font-size: 13px;
    min-height: 38px;
}

.mul-sel {
    height: 38px;
    max-height: 38px;
    font-size: 13px;
}

.mul-sel .ms-choice {
    border: none;
}

.mul-sel .ms-drop ul {
    padding: 7px 6px;
}

.mul-sel .ms-choice:focus {
    outline: none;
}

.mul-sel .ms-drop {
    left: 0!important;
}

.mul-sel .ms-choice>span {
    top: 5px;
    padding-left: 15px;
}

.mul-sel .ms-choice>span.placeholder {
    color: #716d6d;
}

.btn-danger {
    background-color: #f14827;
    border-color: #f14827;
}

.btn-warning {
    background-color: #f6b63a;
    border-color: #f6b63a;
}

.btn-warning:hover,
.btn-warning:focus {
    background-color: #f6b63a!important;
    border-color: #f6b63a!important;
}

.stus {
    color: #FFF;
    display: inline-block;
    padding: 3px 8px;
    border-radius: 4px;
    font-size: 10px;
    min-width: 120px;
    text-align: center;
}

.stus.apr {
    background: #97cb5f;
}

.stus.rej {
    background: #f14827;
}

.stus.pnd {
    background: #f1ad2b;
}

.stus.pur {
    background: #669ed0;
}

.stus.new-ord {
    background: #C8A2C8;
}

.actn {
    margin-right: 2px;
    padding: 3px 6px;
}

.actn:focus {
    box-shadow: none;
}

.actn.apr {
    background: #97cb5f;
}

.actn.rej {
    background: #f14827;
}

.actn.pnd {
    background: #f1ad2b;
}

.mdl-cmt-box {
    border-bottom: 1px solid #ececec;
}

.mdl-p {
    font-size: 12px;
    line-height: 23px;
    padding-bottom: 8px;
    margin-bottom: 0;
}

.mdl-cmt-box:last-child {
    border-bottom: none;
}

.madl-bdy-hd {
    font-size: 11px;
    font-weight: 700;
    margin-top: 10px;
}

.madl-bdy-hd1 {
    color: #49bf5d;
}

.madl-bdy-hd2 {
    color: #f39f57
}

.mdl-cmnt-bdy {
    padding-top: 0;
    max-height: 300px;
    overflow-y: scroll;
}

.atd {
    min-width: 96px;
}

.qr-code {
    width: 30px;
}

.radio-label {
    font-size: 12px;
    margin-right: 10px;
}

.mdl-bdy-hdng {
    font-size: 13px;
}

.mdl-lbl {
    font-size: 13px;
}

.tble-ttle .cmn-btn {
    padding: 6px 7px;
}

.form-control:focus {
    border-color: #95A912;
    box-shadow: none!important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(255, 255, 255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
    padding: 8px 0;
    margin-left: -3px;
}

.navbar-toggler:focus {
    outline: none;
}

.srch-btn-mob {
    display: none;
}

.alrt-drpdwn {
    min-width: 220px;
    min-height: 250px;
    background: #FFF;
    border: 1px solid #CCC;
    top: 12px!important;
    padding: 0;
}

.notif-li {
    margin: 0;
    padding: 0;
}

.notif-li li {
    list-style: none;
    display: block;
}

.notif-li li h2 {
    font-size: 14px;
    padding: 11px 15px;
    border-bottom: 1px solid #CCC;
    margin-bottom: 0;
}

.notif-li li a {
    border-bottom: 1px solid #CCC;
    padding: 11px 15px;
    display: block;
    font-size: 11px;
    color: #464646;
}

.notif-li li:last-child {
    border-bottom: 2px solid #95A912;
}

.notif-li li a:hover {
    text-decoration: none;
    background: #f3f3f3;
}

.noti-bl-icon {
    float: right;
    color: #95A912;
    font-size: 20px;
}

.notif-li2 {}

.notif-li2 img {
    width: 45px;
    margin-right: 10px;
}

.notif-li2 h3 {
    font-size: 12px;
    margin-bottom: 0;
    flex: 1;
}

.notif-li2 p {
    font-size: 11px;
    margin-bottom: 0;
    margin-top: 10px;
}

.ftr-cntct {
    color: #95A912;
}

@media(min-width:1024px) and (max-width:1198px) {
    .cust-nav .nav-link {
        padding: 14px 17px!important;
    }
}

@media(min-width:991px) and (max-width:1023px) {
    .cust-nav .nav-link {
        padding: 14px 15px!important;
    }
}

@media(max-width:991px) {
    .cust-nav .nav-link {
        padding: 14px 0px!important;
    }
    .srch-btn-desc {
        display: none;
    }
    .srch-btn-mob {
        display: block;
    }
    .cust-nav .nav-link:hover,
    .cust-nav .nav-link:focus {
        background: none;
        color: #FFF!important;
    }
    .srch-cust {
        padding-top: 10px;
    }
    .srch-cust.active {
        top: 0px;
        bottom: 0;
    }
}

.dp-img {
    max-width: 28px;
}

.frm-file {
    padding: 6px;
    font-size: 12px;
    height: 38px;
}

.tble-ttle .fltr-btn {
    padding: 6px 12px;
    background: #6e6e6f;
}

.tble-ttle .upld-btn {
    background: #929496;
    padding: 6px 12px;
}

.btn-secondary:focus {
    box-shadow: none!important;
}

.modal-title {
    font-size: 14px;
    font-weight: 700;
}

.aprv-btn {
    background: #97cb5f;
    border-color: #97cb5f;
}

.aprv-btn:focus,
.aprv-btn:hover {
    background: #97cb5f!important;
    border-color: #97cb5f!important;
}

.rej-btn {
    background: #FF4A4A;
    border-color: #FF4A4A;
}

.rej-btn:focus,
.rej-btn:hover {
    background: #FF4A4A!important;
    border-color: #FF4A4A!important;
}

.cmt-btn {
    background: #f1ad2b;
    border-color: #f1ad2b;
}

.cmt-btn:focus,
.cmt-btn:hover {
    background: #f1ad2b!important;
    border-color: #f1ad2b!important;
}

.drp-icon {
    font-size: 14px;
}

.drp-main:hover .drp-cust {
    display: block;
}

.cmt-alrt {
    position: relative;
}

.cmt-alrt-ico {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #3f4d67;
    border-radius: 50%;
    top: -3px;
    right: -4px;
}

.pur-sts {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
    text-align: center;
}

.pur-sts.y {
    border: 1px solid #95a912;
    color: #95a912;
}

.pur-sts.n {
    border: 1px solid #ff4a4a;
    color: #ff4a4a;
}


/*-----------V2------*/

.bootstrap-datetimepicker-widget.dropdown-menu,
.form-control {
    font-size: 12px;
}

.highcharts-figure,
.highcharts-data-table table {
    min-width: 320px;
    max-width: 400px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 5px solid #EBEBEB;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 300px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

.cust-dbrd-chrt svg {
    height: 180px;
}

.cust-dbrd-chrt #container {
    height: 180px!important;
}

.lgnd {
    font-size: 12px;
    margin-right: 10px;
    display: inline-block;
}

.lgnd-box {
    width: 30px;
    height: 10px;
    margin-right: 5px;
    display: inline-block;
}

.wrkng {
    background: red;
}

.non-wrkng {
    background: green;
}

.dispo {
    background: blue;
}


/* crm-admin */

.cust-inpt {
    padding: 18px 11px;
}

.btn-primary1 {
    background: #676d79;
}

.doc1 {
    background: #97cb5f;
}

.doc2 {
    background: #676d79;
}

.btn-note {
    background: #274379;
    position: relative;
}

.btn-note-noti {
    background: red;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: -6px;
    right: -2px;
}

.btn-ship {
    background: #3a3a3a;
}

.btn-dhl {
    background: #8c600c;
}

.tble-ttle .add-edit {
    padding: 6px 12px;
    background: #6e6e6f;
}

.v-lbl {
    font-weight: 700;
}

.v-fld {
    display: block;
    font-size: 12px;
}

.view-dtls-ttl {
    border-bottom: 1px solid #CCC;
    margin-bottom: 20px;
}

.v-fld-ttl {
    font-size: 13px;
}

.view-dtls-main {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #CCC;
}

.ordr-sub-hd {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 20px;
}

.prds-dtl1 {
    margin-bottom: 20px;
    border-bottom: 1px solid #CCC;
}

.v-bttns {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px
}

.v-btn {
    border: none;
    border-radius: 3px;
    float: left;
    font-size: 13px;
    color: #FFF;
    padding: 7px;
    margin: 2px;
}

.v-btn:hover {
    color: #FFF;
    text-decoration: none;
}

.v-btn1 {
    background: #676d79;
}

.v-btn2 {
    background: #274379;
}

.v-btn3 {
    background: #f6b63a;
}

.ordr-lnk {
    color: #000;
    text-decoration: underline;
}

.ordr-lnk:hover {
    color: #000;
}

.ordr-sup {
    color: red;
}

.cust-tbl-tr {
    background: #ebf9dd;
}

.cust-select {
    padding: 0 10px;
    min-height: 38px;
}

.cust-tab-content {
    border: 1px solid #dee2e6;
    padding: 20px;
    border-top: none;
}

.prd-tab .nav-tabs .nav-link {
    color: #000;
    font-size: 13px;
    background: #e1e6bf;
    border-color: #e9ecef #FFF #dee2e6;
}

.prd-tab .nav-tabs .nav-link.active,
.prd-tab .nav-tabs .nav-item.show .nav-link {
    color: #ffffff;
    background-color: #96a91c;
    border-color: #dee2e6 #dee2e6 #fff;
    font-size: 13px;
}

.prd-tab .nav-tabs .nav-link:hover,
.prd-tab .nav-tabs .nav-link:focus {
    border-color: #e9ecef #FFF #dee2e6;
}

.fle-size {
    font-size: 11px;
}

.btn-veri {
    background: #b6ce19;
}

.cust-min {
    min-width: 88px;
}

.db-graph {
    text-align: center;
}

.db-table-hdng {
    padding-bottom: 10px;
    border-bottom: 1px solid #f2f2f2;
}

.db-table-hdng h2 {
    font-size: 14px;
    font-weight: 700;
}

.ordr-perd-sel {
    margin-top: 27px;
    float: right;
    width: 40%;
}

.ordr-perd {
    background: #FFF;
    border-radius: 6px;
    padding: 13px 25px 31px;
    margin-bottom: 22px;
    box-shadow: 0px 0px 5px #0000001C;
}

.ord-sel-icon {
    float: left;
}

.ord-sel-drop {
    float: left;
    width: 90%;
}

.ord-sel-icon i {
    font-size: 45px;
    margin-top: -1px;
}

.cust-ordr-perd-sel {
    float: right;
    width: 60%;
    padding-right: 20px;
}

.snd-mail-btn {
    background: #ffc107;
}

.dwnd-btn {
    background: #17a2b8;
}

.highcharts-figure,
.highcharts-data-table table {
    min-width: 310px;
    max-width: 460px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #EBEBEB;
    margin: 10px auto;
    text-align: center;
    width: 100%;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

.db-graph .highcharts-figure,
.highcharts-data-table table {
    max-height: 340px;
}

.db-graph .highcharts-root {
    max-height: 360px;
}

.ad-mt-btn {
    display: inline-block;
    margin-top: 31px;
}

.ord-dtl-hd {
    background: #e1e6bf;
    padding: 11px;
    margin-bottom: 20px;
}

.ord-id-lft,
.ord-dt-rgt {
    font-size: 13px;
}

.ord-id-lft span,
.ord-dt-rgt span {
    font-weight: 700;
}

.ord-id-lft {
    float: left;
}

.ord-dt-rgt {
    float: right;
}

.mnd-fld {
    color: red;
}

.brd-btm {
    border-bottom: 1px solid #f3f3f3;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.db-box-icn {
    font-size: 25px;
    color: #FFF;
}

.mdl-bdy-cnt-hdng {
    background: #e1e6bf;
    padding: 11px;
}

.mdl-hd12 {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.mdl-hd12 span {
    font-weight: 300;
    text-transform: initial;
}

.pprclp {
    color: #000;
    font-size: 22px;
    margin-right: 9px;
}

.mdl-lnk {
    color: #000;
    font-size: 12px;
    margin-bottom: 15px;
    display: inline-block;
}

.mdl-lnk:hover {
    color: #000;
    text-decoration: none;
}

.cust-mdl-bdy {
    max-height: 400px;
    overflow-y: scroll;
}

.mdl-tbl-cnt tr th,
.mdl-tbl-cnt tr td {
    vertical-align: top;
    font-size: 12px;
    padding: 5px 0;
}

.mdl-tbl-cnt tr td {
    padding: 5px;
}

.nt-row {
    border-bottom: 1px solid #e8e7e7;
    padding-top: 12px;
}

.nt-row:first-child {
    padding-top: 0px;
}

.nt-row:last-child {
    border-bottom: none;
}

.nt-row h2 {
    font-size: 12px;
    font-weight: 700;
    color: #0dad46;
}

.nt-row:nth-child(even) h2 {
    color: #ff6e07;
}

.nt-row p {
    font-size: 12px;
    color: #000;
}

.btn-dlt {
    background-color: #f14827;
    border-color: #f14827;
}

.btn-nts {
    background-color: #274379;
    border-color: #274379;
}

.btn-spm {
    background-color: #FFF;
    border-color: red;
    border: 1px solid red;
    color: #000;
}

.btn-spm:hover {
    color: #000;
}

.vw-nts-hdng {
    font-size: 14px;
    font-weight: 700;
    margin-top: 14px;
    border-bottom: 1px solid #edf2f8;
    padding-bottom: 13px;
    margin-bottom: 20px;
}

.btn-spm span {
    background: red;
    padding: 7px;
    margin-right: -7px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    color: #FFF;
    margin-left: 4px;
}

.enq-spam {
    color: red;
    font-size: 9px;
    margin-left: 10px;
    position: relative;
    cursor: pointer;
}

.enq-spam i {
    font-size: 17px;
}

.enq-spam-txt {
    margin-top: -8px;
    position: absolute;
    margin-left: -4px;
}

.enq-mdl-bdy {
    overflow: hidden;
}


/*---- SH ----- */

input[type="color"] {
    opacity: 1;
    display: block;
    width: 32px;
    height: 32px;
    border: none;
}

.fsep {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #dee2e6;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.fsep span {
    background: #fff;
    padding: 0 10px;
    text-transform: uppercase;
    font-weight: 700;
}

.btn-primary,
.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    background-color: #95a912;
    border-color: #95a912;
}

.doc {
    background: #97cb5f;
}

.action-btn {
    color: #FFF !important;
    font-size: 17px;
    padding: 0px 4px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.btn-dwnd-pp {
    background: #17a2b8;
}

.view-pg-cntnt {
    border: 1px solid #da8989;
    margin-bottom: -22px;
    border-bottom: none;
}


}

.dwnld-doc {
    background: #17a2b8;
    color: #FFF;
    padding: 1px 6px;
    margin-left: 4px;
    border: none;
    border-radius: 4px;
}
.dwnld-doc-pp {
    background: #17a2b8;
    color: #FFF;
    padding: 4px 6px;
    margin-left: 4px;
    border: none;
    border-radius: 4px;
}
.rprt-mns{
    color:#3dd43d;
}
.rprt-pls{
    color:#ff4f4f;
}
.btn-aprv{
    background: #95a912;
}


.cust-tab-content {
    border: 1px solid #dee2e6;
    padding: 20px;
    border-top: none;
}
.prd-tab .nav-tabs .nav-link{
    color:#000;
    font-size:13px;
    background:#e1e6bf;
    border-color: #e9ecef #FFF #dee2e6;
}
    
.prd-tab .nav-tabs .nav-link.active, .prd-tab .nav-tabs .nav-item.show .nav-link{
    color: #ffffff;
    background-color: #96a91c;
    border-color: #dee2e6 #dee2e6 #fff;
    font-size: 13px;
}

.prd-tab .nav-tabs .nav-link:hover, .prd-tab .nav-tabs .nav-link:focus {
    border-color: #e9ecef #FFF #dee2e6;
}
.btn-rnw{
    background: #ff8d00;
    border-color: #ff8d00;
    margin-top: 31px;
    padding: 6px;
    color:#FFF;
    text-transform: uppercase;
    font-size: 13px;
}
.btn-rnw:hover{
    background: #ff8d00;
    border-color: #ff8d00;
    color:#FFF;
}
.btn-rnw:focus{
    background: #ff8d00;
    border-color: #ff8d00;
    outline:none;
    box-shadow:none!important;
}
.in-splr-block{
    margin-bottom:50px;
    border-bottom: 1px solid #e8e7e7;
}
.in-splr-block-hd{
    font-size: 14px;
    font-weight: 700;
}
.btn-pymnt{
    background:#7bd68f;
    border-color:#7bd68f;
}
.btn-re-snd{
    background:#068e23;
    border-color:#068e23;
}
.btn-prch-ordr{
    background:#9917ea;
    border-color:#9917ea;
}
.btn-note-noti {
    background: red;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: -6px;
    right: -2px;
}
.itm-rq-sts{
    min-width: 87px!important;
}
.btn-sv-snd{
    background:#717f11;
    border-color:#717f11;
}
.btn-mv-pm{
    background:#565656;
    border-color:#565656;
}
.btn-dwnd-pp{
    background:#17a2b8;
}
.btn-push{
    background:#95a912;
    border-color:#95a912;
}
.rqst-sts{
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 4px;
}
.rqst-sts-pnd{
    background: #ffc107;
}
.rqst-sts-apr{
    background: #28a745;
}
.rqst-sts-po{
    background: #91d449;
}
.rqst-sts-rjct{
    background: red;
}
.sts-txt{
    font-size:10px;
}
.btn-rqst-rjct{
    background:#dc3545;
    color:#FFF;
}
.btn-rqst-prt{
    background:#bed23d;
    color:#FFF;
}
.btn-rqst-rjct:hover, .btn-rqst-prt:hover{
    color:#FFF;
    box-shadow:none!important;
}
.btn-rqst-rjct:focus, .btn-rqst-prt:focus{
    box-shadow:none!important;
}
.sts-txt span{
    font-size:8px;
    color:red;
    display:block;
    text-align:right;
}
.pr-ord-cmnt-ico{
    padding: 4px 6px!important;
}
.blng-adrs{
    font-size:10px!important;
}
.prs-btn-pymnt{
    margin-top:24px!important;
}
.cust-prch-flag {
    color: red;
    font-size: 14px;
    margin-top: -28px;
    display: block;
    margin-left: 7px;
}
.flg-txt{
    color:red;
}
.intr-prch-grd tr th, .intr-prch-grd tr td{
    font-size:10px;
}
.mdtry{
    color:red;
}
.mr-tp-cust{
    margin-top: 7px;
}
.po-pp-hdr{
    padding:0 15px;
}
.brdr-po-pp{
    border:1px solid #dee2e6;
    border-right:none;
}
.brdr-po-pp1{
    border:1px solid #dee2e6;
    border-left:none;
}
.sv-snd-tp-adrs img{
    max-width: 150px;
    display: block;
    padding-bottom: 12px;
}
.sv-snd-tp-adrs{
    padding: 10px 0;
    font-size: 11px;
    line-height: 17px;
}
.sv-snd-tp-ttl{
     padding-top: 50px;
}
.sv-snd-tp-ttl h2 {
    font-size: 22px;
    font-weight: 700;
}
.sv-snd-tp-ttl p {
    font-size: 11px;
}
.pr-no{
    font-size: 12px;
    color: red;
}
.po-pp-addr td{
    font-size:11px!important;
    line-height:17px!important;
}
.brdr-btm{
    border-bottom:1px solid #e8e7e7;
}
.po-pp-tbl-vw .ld-rows .f-lbl, .po-pp-tbl-vw .ld-rows .f-lbl-val{
    font-size:10px!important;
}
.cust-po-pp-mdlbdy{
    max-height:400px;
    overflow-y:auto;
}
.btn-prnt{
    background:#12a99b;
    border-color:#12a99b;
    color:#FFF;
}
.btn-prnt:hover{
    color:#FFF;
}
.btn-prnt:focus{
    box-shadow:none;
}
.po-pp-tbl1{
    margin-bottom:0;
}
.po-pp-tbl1 thead tr th{
    background:#dde4ad;
    padding:0!important;
}
.po-pp-tbl1 tr td{
    border-bottom:none;
}
.po-pp-tbl2 thead tr th{
    background:#fff8ba;
    padding:0!important;
}
.total-tr td{
    background:#fff8ba;
    padding:0!important;
}
.po-pp-mt1{
    margin-top:-16px;
}
.pp-ftr-hd {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 20px;
}
.pp-li{
    padding:0;
}
.pp-li li{
    list-style: none;
    font-size: 11px;
    margin-bottom: 6px;
    margin-left: 14px;
    position: relative;
    padding-left: 3px;
}
.pp-li li::after{
    position: absolute;
    content: '';
    width: 9px;
    height: 2px;
    background: #95a912;
    left: -14px;
    top: 7px;
}
.po-pp-sgn {
    margin-top: 22px;
    font-size: 12px;
    text-align: right;
}
.po-pp-nm-des{
    font-size:12px;
    text-align:right;
    margin-top:40%;
}
/* -----Print --------*/

.tbl-th-clr1 {
    background: #dde4ad;
    padding: 10px;
    font-size:11px;
}
.tbl-th-clr2 {
    background: #fff8ba;
    padding: 10px;
    font-size:11px;
}
.tbl-th-clr3 {
    background: #fff8ba;
    font-size:11px;
    padding: 10px;
}
    
    
    
    @cust-po-pp-mdlbdy {
        size: A4;
        margin: 0;
    }
    @media print {
        html, body {
            width: 210mm;
            height: 297mm;  
            background:#FFF!important;          
        }
        .cust-po-pp-mdlbdy {
            width: 210mm;
            min-height: 297mm;
            padding: 20px;
            margin-left: auto!important;    
            margin-right: auto!important;   
            background:#FFF!important;
        }
        .modal-header, .modal-footer, .content-area, .header-main, .footer, .modal-backdrop{
            display:none!important;
        }
        
    }
.permissions-item h2{
    font-size:16px;
}
.header-row {
    background: #e6e6e6!important;
    border-bottom: 2px solid #d2d4d6;
}

#line-accord .line-acc-box.open{
	overflow: initial!important;
	transition: none!important;
	z-index:0!important;
}

#line-accord .line-acc-box.open div[data-content]{
    overflow: initial!important;
	transition: none!important;
	
}